body{
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #5f95c2;
}
@supports (-webkit-touch-callout: none){
    body{
        height: -webkit-fill-available;
    }
}
header{
    text-align: center;
}
main{
    flex-grow: 1;
    background: center / cover no-repeat url('../img/top.webp');
    cursor: grab;
}
@media (orientation: portrait){
    main{
        background: top / cover no-repeat url('../img/top2.1.webp');
    }
}
footer{
    text-align: center;
}
section{
    text-align: center;
}
h2{
    color: azure;
    font-family: Arial;
}
h3{
    color: azure;
    font-family: Arial;
}
j{
    color: #1e2ba3;
    font-size: large;
    font-weight: bold;
}
@keyframes blinking {
   0% {
   opacity: 0;
   }
   100% {
   opacity: 1;
   }
}
.blink {
   animation: blinking 1s ease-in-out infinite alternate;
}