body{
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #002a4d;
}
@supports (-webkit-touch-callout: none){
    body{
        height: -webkit-fill-available;
    }
}
header{
    text-align: center;
}
main{
    flex-grow: 1;
    background: center / cover no-repeat url('../img/top.webp');
    cursor: grab;
}
@media (orientation: portrait){
    main{
        background: top / cover no-repeat url('../img/top2.webp');
    }
}
footer{
    text-align: center;
}
section{
    text-align: center;
}
h2{
    color: azure;
}
h3{
    color: azure;
}