body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #333;
}
header {
    background: #222;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.meishicafei img {
    width: 100%; 
    max-width: 100%; 
    height: 1080px; 
    display: block; 
    margin: 0 auto; 
}
footer {
    background: #222;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}